{% extends 'base.html.twig' %}

{% block title %}
    {{ resto.nom }}
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>{{ resto.nom }}</h1>
        <ul class="list-group">
            <li class="list-group-item">Chef : {{ resto.chef }}</li>
            <li class="list-group-item">Etoiles : {{ resto.etoile }} ☆</li>
            <a class="btn btn-secondary btn-lg btn-block" href="{{ path('guide_michelin_modifier', { 'id': resto.id }) }}" role="button">Editer</a>
            <a class="btn btn-secondary btn-lg btn-block" href="{{ path('guide_michelin_restos') }}" role="button">Retour</a>
        </ul>
    </div>
{% endblock %}


