<!DOCTYPE html>
<html>
<head>
    <title>{{ resto.nom }}</title>
</head>
<body>
<ul>
    <li><h5>{{ resto.nom }}</h5></li>
    <li>Chef : {{ resto.chef }}</li>
    <li>Etoiles : {{ resto.etoile }}</li>
</ul>
<p>lien vers <a href="{{ path('guide_michelin_accueil') }}">Accueil</a></p>
</body>
</html>